.Rproj.user
.Rhistory
.RData
.Ruserdata

*.tex
*.pdf
*.docx
*.xlsx
*.csv
*.html
temp/
data/

# src
*.o
*.dll
*.so

*.RDS
*.rda
*.json
log.txt

INPUT/shp
INPUT/
interview/

data-raw/shp
*.tif

*.kml
*.kmz
*.jpg

Figure*/

TSF*
*/deprecated
